@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.black-gradient {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.violet-gradient {
  background: #804dee;
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #804dee 0%,
    rgba(60, 51, 80, 0) 100%
  );
}

.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}

.orange-text-gradient {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-text-gradient {
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text-gradient {
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* canvas- styles */
.canvas-loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

/* selfie image */
.circular-image {
  width: 130px; /* or any size you want */
  height: 130px; /* should be the same as width to maintain aspect ratio */
  border-radius: 20%; /* this makes the image circular */
  object-fit: cover; /* this ensures the image covers the area without stretching */
}

/* vanish scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* for Internet Explorer, Edge */
  scrollbar-width: none;  /* for Firefox */
}

/* Default size for larger screens */
.ball-container {
  width: 7rem;
  height: 7rem;
}

/* Mobile screen sizes */
@media only screen and (max-width: 767px) {
  .ball-container {
    width: 4rem; /* smaller size for mobile */
    height: 4rem;
  }
  .circular-image {
    width: 110px;
    height: 110px;
  }
}
@media only screen and (max-width: 400px) {
  .ball-container {
    width: 3.8rem; /* smaller size for mobile */
    height: 3.8rem;
  }
}

@media only screen and (max-width: 360px) {
  .ball-container {
    width: 3.5rem; /* smaller size for mobile */
    height: 3.5rem;
  }
}

/* button */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #040817;
  color: #fff;
  border-radius: 30px;
  border: 1px solid #ffffff;
  text-align: center;
  text-decoration: none;
  margin-top: 10px; /* Adjust as needed */
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: #ffffff;
  color: #000000;
}

.resume-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px; /* Adjust the space between elements as needed */
}

.subtitle-container {
  width: 100%;
  text-align: center; /* Center the subtitle on mobile */
}

.subtitle {
  font-size: 1.5em; /* Adjust the font size as needed */
  margin: 20px 0; /* Space above and below the subtitle */
  color: white; /* Color of the subtitle text */
}

.resume-preview {
  position: relative;
  width: 100%; /* Full width on mobile */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

/* Media query for larger screens */
@media (min-width: 768px) {
  .resume-container {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .subtitle-container {
    width: calc(50% - 40px); /* Half the container width minus any margins */
    text-align: left; /* Align the subtitle to the left on desktop */
  }
  .resume-preview {
    /* Keep the same width as the subtitle container */
    width: calc(100% - 40px);
  }
}


.label {
  margin-top: 10px; /* Space between label and image */
  color: white;
  font-size: 1em;
  /* Add any additional styling you want for the label text here */
}

.resume-preview img {
  width: 100%; /* Make image width responsive to the container */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain;
  transition: filter 0.5s ease;
}

.button.open-pdf-button {
  height: 54px;
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.darken {
  filter: brightness(50%);
}

/* Additional styling for the footer */
.footer-text {
  padding-top: 1.5rem;
  font-size: 1.5rem; /* Larger text size */
  margin-bottom: 1rem; /* Space below the text */
  font-weight: bold; /* Optional: makes the text bold */
}

.social-links-container {
  display: flex;
  justify-content: center; /* Center the links container */
  flex-wrap: wrap; /* Allows icons to wrap on smaller screens */
  gap: 1.5rem; /* Increase the space between icons */
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.social-icon {
  height: 40px; /* Adjust the size as needed */
  width: auto;
  vertical-align: middle; /* This will align the icons with any inline elements like text */
  /* If you want the icons to be larger on larger screens, you can add a media query */
}

/* Media query for larger screens */
@media (min-width: 768px) {
  .social-links-container {
  gap: 2rem;
  }
  .footer-text {
    font-size: 2rem;
  
  }
  .social-icon {
    height: 50px; /* Larger icons on larger screens */
  }
  
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

._slider {
  box-shadow: 0 10px 20px -5px #00000020;
  height: 50px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
  display: flex; /* Aligns the updates container and the scrolling text */
}

.updatesContainer {
  flex-shrink: 0; /* Prevents the container from shrinking */
  background-color: #00cea8; /* Your desired background color */
  padding: 0 1rem; /* Adjust the padding as needed */
  display: flex;
  align-items: center; /* Center the text vertically */
}

.fixedUpdate {
  color: #040817; /* Color for the "Updates" text */
}

._slideTrack {
  display: flex;
  align-items: center; /* Center the text vertically */
  animation: scrollText 20s linear infinite;
  margin-left: 1rem; /* Give some space after the fixed text */
  flex-grow: 1; /* Allows the track to take up the remaining width */
}

@keyframes scrollText {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}
